@charset "utf-8";
.sideprofile{
		
		background: #20ffcd;
background: -moz-linear-gradient(left, #20ffcd 0%, #1fecbe 53%, #0fddaf 100%);/*rgba(122,222,255,1) rgba(106,193,255,1) rgba(92,168,255,1)*/
background: -webkit-gradient(left top, right top, color-stop(0%, #20ffcd), color-stop(53%, #1fecbe), color-stop(100%, #0fddaf));
background: -webkit-linear-gradient(left, #20ffcd 0%, #1fecbe 53%, #0fddaf 100%);
background: -o-linear-gradient(left, #20ffcd 0%, #1fecbe 53%, #0fddaf 100%);
background: -ms-linear-gradient(left, #20ffcd 0%, #1fecbe 53%, #0fddaf 100%);
background: linear-gradient(to right, #20ffcd 0%, #1fecbe 53%, #0fddaf 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7adeff', endColorstr='#5ca8ff', GradientType=1 );
		
		
		height:350px;
		width:270px;
		float:left;
	
		
		
		margin-left:15px;
		margin-top:15px;
		opacity:0.8;
	    
	}
	.sidelist #first{
		padding-top:30px;
	    padding-left:10px;
		padding-bottom:20px;
		font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
		color:#FFF;
		font-size:14px;
	}   
	/* CSS Document */

